* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}

.header {
    width: 100%;
    background-color: #fff;
    height: max-content;
}

.header>img {
    position: absolute;
    z-index: -1;
    top: 58px;
    height: 50%;
    object-fit: fill;
}

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
}

.navbar__left {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar__container {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}

.navbar__left img {
    width: 220px;
    object-fit: contain;
}

.navbar__left .navbar__collegeDetail {
    font-size: 0.6rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    color: #793b10;
    /* background-color: #fff; */
    padding: 2px;
    justify-content: center;
}

.menu__icon {
    background: #793b10;
    width: 100%;
    cursor: pointer;
}

.menu__icon .icon {
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: #ffba08;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 9px;
}

.menu__icon .first {
    width: 26px;
    margin-top: 6px;
}

.menu__icon .third {
    width: 24px;
}

.announcement {
    justify-content: flex-end;
    display: flex;
    z-index: 2;
    padding: 5px;
    opacity: 80%;
    align-items: center;
    background-color: #793b10;
}

.announcement h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2rem;
}

.announcement .announce {
    color: white;
    align-items: center;
    padding-top: 2px;
    font-weight: 500;
    background: #ffba08;
    padding: 3px;
    border-radius: 3px;
    margin-right: 5px;
}

.announcement .program {
    color: white;
    background-color: #793b10;
    font-size: 15px;
    height: auto;
    margin-right: 5px;
}

.form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    background-color: #ffba08;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 1px 14px 0px #54544ec2;
}

.form .query {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.form .number {
    font-weight: 500;
    font-size: 22px;
    color: white;
    padding: 10px;
}

.form input {
    width: 90%;
    margin-top: 1em;
    outline: none;
    border: #ffba08;
    padding: 5px 10px;
    font-size: 12px;
}

.form .form__logo {
    width: 250px;
    background-color: #fff;
    margin-bottom: 0.5em;
}

.form .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-top: 1em;
    color: azure;
}

.form .checkbox_info {
    display: flex;
    align-items: center;
    width: 100%;
}

.form .checkbox {
    border-radius: 10px;
    width: 40px;
    height: 30px;
    margin-left: 15px;
    margin-right: 10px;
}

.checkbox_info .info__text {
    font-size: 0.7rem;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
}

.form .form__button {
    outline: darkred;
    background-color: #c5900a;
    margin-top: 0.75rem;
    border: none;
    color: azure;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.form .form__button:hover {
    background-color: azure;
    color: #ffba08;
}

.aboutus {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.aboutus .title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffba08;
    margin-bottom: 10px;
}

.aboutus .main {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ffba08;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
    line-height: 1.1rem;
}

.main .second {
    margin-top: 15px;
}

.aboutus .list {
    margin-top: 20px;
}

.list .list__title {
    font-weight: 500;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1.3rem;
    color: rgb(15, 15, 15);
}

.list p {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.ranking {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.ranking .ranking__title {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffba08;
}

.ranking .ranking__awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ranking__awards .award {
    width: 100px;
}

.ranking__awards .award i {
    font-size: 4em;
    color: #ffba08;
}

.ranking__awards .award .trophy {
    width: 70px;
    height: 100px;
}

.ranking .award .rank {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ranking__awards .award p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1em;
    /* border: 1px solid darkgoldenrod; */
    border-bottom: 2px solid;
    padding-bottom: 9px;
    border-bottom-color: #ffba08;
}

.ranking__awards h5 {
    font-weight: 500;
}

/* .ranking__awards hr {
    color: darkgoldenrod;
    height: 2px;
    padding: 0.8px;
    background: darkgoldenrod;
    width: 100%;
    background-color: darkgoldenrod;
    margin-bottom: 0.5rem;
} */

.ranking__awards .brand__logo {
    margin-bottom: 1em;
    border: 1px solid;
    padding: 2px;
    font-size: 0.8rem;
}

.accrediation {
    background-color: #ffba08;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accrediation h4,
.accrediation p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #6a040f;
}

.accrediation .aicteIMG {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: contain;
    margin: 10px auto;
}

.scholarship {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.scholarship h2 {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #6a040f;
}

.scholarship .decs {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

}

.scholarship .container {
    width: 100%;
    border: 1px solid #ffba08;
    margin-top: 0.5em;
}

.container .column {
    width: 100%;
    padding: 10px 15px;
    /* margin-bottom: 1em; */
    border-bottom: 1px solid #ffba08;
}

.scholarship .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.column h4 {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.column .tabularData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    row-gap: 5px;
}

.tabularData h4 {
    font-weight: 500;
    font-size: 1.1rem;
}

.tabularData p {
    font-size: 0.8rem;
    font-weight: 500;
}

.scholarship .notes {
    width: 100%;
    border: 1px solid darkkhaki;
    border-top: none;
    padding: 5px 10px;
    text-align: left;
}

.notes h4 {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.notes ul {
    list-style-type: disc;
}

ul li {
    font-size: 0.8rem;
    margin-left: -25px;
    padding: 5px 3px;
}

.placement {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.placement h3 {
    font-weight: 500;
    color: #6a040f;
    margin: 0.5rem auto;
}

.placement p {
    font-size: 0.9rem;
}

.companies {
    padding: 15px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1em;

}

/* .companies .first, .companies .second {
    
} */
.comapnies hr {
    margin: auto;
    width: 60%;
    color: #6a040eb4;
}

.companies h2 {
    text-align: center;
    color: #6a040e;
    font-size: 2.5rem;
    padding: 10px;
}

.graph__container {
    margin: auto;
    width: 100%;
    border: 1px solid #ffba08;
    padding-left: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    row-gap: 10px;
}

.graph__container .container {
    width: 100%;
    display: flex;
    align-items: center;
}

.graph__container .container label {
    font-size: 0.7rem;
    font-weight: 500;
}

.graph__container .bar1 {
    width: 40px;
    height: 20px;
    background-color: #ffba08;
    margin-left: 5px;
}

.graph__container .bar2 {
    width: 140px;
    height: 20px;
    background-color: #ffba08;
}

.graph__container>.container>span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #6a040f;
}

.awardsInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    background-color: #f0efeb;
    margin: auto;
    margin-bottom: 1em;
}

.awardsInfo h3 {
    font-weight: 500;
    text-align: center;
    margin: 0.5rem auto 0.5rem;
    color: #6a040f;
}

.awardsInfo .info {
    min-width: 150px;
    max-width: 250px;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 15px 20px;
    color: #03071e;
    border: 1px solid #ffba08;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.examtype {
    width: 90%;
    text-align: center;
    margin: auto;
}

.examtype h3 {
    font-weight: 500;
    margin: 0.5rem auto 0.5rem;
    color: #6a040f;
}

.examsexcepted {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    margin: 1em auto 1em;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;

}

.examsexcepted .exam {
    border: 1px solid #ffba08;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
}

.recruiter,
.alumni {
    margin: 1em auto 1em;
    text-align: center;
}

.recruiter h3,
.alumni h3 {
    font-weight: 500;
    margin: 0.5rem auto 0.5rem;
    color: #6a040f;
}

.recruiter__Logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #ffba08;
    margin: auto;
    width: 95%;
    padding: 10px;
}

.recruiter__Logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: rgb(241, 232, 145);
    border-radius: 50%;
    margin-bottom: 10px;
}

.alumni {
    width: 90%;
    margin: 1em auto 1em;
}

.alumni .alumni__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.alumni .alumins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 5px;
    border: #ffba08 1px solid;
    margin: 5px;
}

.alumins p,
.alumins h3,
.alumins h4 {
    color: #6a040e;
}

.alumins p {
    font-size: 0.8rem;
    font-weight: 500;
}

.alumins h3 {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.alumins h4 {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.footer {
    background-color: #993300;
    color: white;
    text-align: center;
    padding: 8px;
}

.footer .footer__title {
    font-weight: 500;
    margin: 0.5rem auto 0.5rem;
}

.footer .footer__Info {
    font-size: 0.8rem;
    font-weight: 500;
}

.footer hr {
    width: 70%;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.footer .bottom {
    font-size: 0.7rem;
}

@media screen and (min-width: 460px) {
    .form .form__button {
        padding: 10px 30px;

    }

    .list p {
        font-size: 0.8rem;
        margin-top: 0.7rem;
    }

    .ranking__awards .award {
        width: 120px;
    }

    .ranking__awards .award .trophy {
        width: 100%;
        height: 130px;
    }

    .ranking__awards .brand__logo {
        font-weight: 500;
        padding: 5px;
        font-size: 0.8rem;
        color: #993300;
    }

    .container .column {
        padding: 20px;
    }

    .column .tabularData {
        gap: 0.5em;
    }

    .tabularData p {
        font-size: 0.9rem;
    }

    .accrediation .aicteIMG {
        width: 80px;
        height: 80px;
    }

    .graph__container {
        width: 90%;
    }

    .graph__container .container {
        justify-content: space-between;
    }

    .graph__container .container label {
        font-size: 0.8rem;
    }

    .graph__container>.container>span {
        margin-left: auto;
        margin-right: 5px;
    }

    .graph__container .bar1,
    .graph__container .bar2 {
        margin-left: 15px;
    }

    .graph__container .bar2 {
        margin-left: 26px;
    }

    .awardsInfo .info {
        font-size: 0.8rem;
        padding: 20px;
        margin-bottom: 0.8rem;
    }

    .examtype {
        margin: 1.5em auto 2em;
    }

    .recruiter h3,
    .alumni h3 {
        margin: 1.5rem auto 1rem;
    }

    .alumins p {
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .navbar__left img {
        width: 250px;
    }

    .header>img {
        height: 70%;
        object-fit: fill;
    }

    .form {
        width: 38%;
        margin-left: 440px;
        margin-top: 10px;
    }

    .form .query {
        font-size: 14px;
    }

    .form .number {
        font-weight: 600;
        font-size: 20px;
    }
    .form .form__logo {
        width: 250px;
    }

    .form .title {
        font-size: 18px;
    }

    .aboutus .title,
    .scholarship h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .aboutus .aboutGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1em;
    }

    .aboutus .main {
        padding: 20px;
        border-radius: 5px;
    }

    .list .list__title {
        margin-top: 1em;
    }

    .list p {
        font-size: 0.9rem;
    }

    .ranking .ranking__awards {
        justify-content: space-between;
    }

    .ranking .ranking__title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .ranking__awards .award i {
        font-size: 6em;
        color: #ffba08;
    }

    .ranking__awards h5 {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .ranking .award .rank {
        font-size: 1.4rem;
    }

    .scholarship h2 {
        margin: 1.5em auto 0.5em;
    }

    .scholarship .decs {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .scholarship .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .scholarship .column {
        margin-top: 10px;
        border-right: 1px solid #ffba08;
        padding: 10px 20px 20px 20px;
    }

    .scholarship .seprate {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #ffba08;
        border-top: none;
    }

    .scholarship .notes {
        border: none;
    }

    .container .firstCol {
        border-bottom: 1px solid #ffba08;
    }

    ul li {
        font-weight: 500;
    }

    .placement h3 {
        font-size: 1.5rem;
    }

    .placement p {
        width: 80%;
        margin: auto;
    }

    .placement hr {
        display: none;
    }

    .companies {
        padding: 15px;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
    }

    .companies .second {
        border-left: 1px solid #ffba08;
    }

    .graph__container {
        width: 80%;
        padding: 10px 15px;
    }

    .awardsInfo h3 {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

    .awardsInfo .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .awardsInfo .info {
        width: 240px;
        margin-right: 5px;
    }

    .examtype h3,
    .recruiter h3,
    .alumni h3 {
        font-size: 1.5rem;
    }

    .recruiter__Logo img {
        width: 120px;
        height: 120px;
    }

    .alumni .alumni__info {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) and (max-width : 1440px) {
    .navbar__left img {
        width: 300px;
    }

    .navbar__left .navbar__collegeDetail {
        font-size: 0.8rem;
    }

    .form {
        width: 34%;
        margin-left: 65%;
        margin-top: 10px;
    }

    .form input {
        padding: 8px 18px;
        line-height: 100%;
        font-size: 1em;
    }

    .checkbox_info .info__text {
        max-width: fit-content;
        font-weight: 500;
    }

    .aboutus {
        padding-top: 3em;
    }

    .aboutus .main p {
        font-size: 1.2em;
    }

    .aboutus .list {
        margin-top: 0px;
    }

    .ranking__awards .award i {
        color: #ffba08;
        font-size: 130px;
    }

    .accrediation h4,
    .accrediation p {
        font-size: 1.2rem;
        font-weight: 600;
        color: #6a040f;
        padding: 5px;
    }

    .awardsInfo .flex {
        width: 80%;
    }

    .examsexcepted {
        width: 80%;
    }

    .examsexcepted .exam {
        padding: 8px 10px;

    }

    .recruiter__Logo {
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        row-gap: 10px;

    }

    .recruiter__Logo img {
        width: 140px
    }
}